<div class="Card show-item">
  <header>
    <% if @order.user_id == 1 %>
      <h1 align="center"> Your Order </h1>
    <% else %>
      <h1 align="center"> <%= "Order of User: #{@order.user_id}" %> </h1>
    <% end %>
  </header>
  <div class="item-body">
    <table class="table">
        <thead>
          <tr>
            <th scope="col"> <%= "Id" %> </th>
            <th scope="col"> <%= "Name" %> </th>
            <th scope="col"> <%= "Quantity" %> </th>
            <th scope="col"> <%= "Total Price" %> </th>
          </tr>
        </thead>
        <tbody>
        <% @order_items.each do |item| %>
          <tr>
            <th scope="row"> <%= item.item_id %> </th>
            <td> <%= item.item_name %> </td>
            <td> <%= item.item_quantity %> </td>
            <td> <%= item.item_total_price %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <footer class="item-actions">
    <p> <strong>  <%= "Order Total: #{@order.total_amount}" %>  </strong> </p>
    <% if session[:user_id] == 1 %>
      <%= link_to "Delete", order_path(@order), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } , class: "btn btn-xs btn-danger"%>
    <% end %>
    <%= link_to "View all Orders", orders_path, class: "btn btn-xs btn-success"%> 
  </footer>
</div>        

