<h2 align="center"><%= @item["name"] %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h4><strong>Description: </strong></h4>
  <p> <%= simple_format(Item.find(@item["id"]).description) %> </p>
  <hr>
  <h4><strong>Price: </strong></h4>
  <p> <%= @item["total_price"] %> </p>
  <hr>
  <h4><strong>Quantity: </strong></h4>
  <p> <%= @item["quantity"]%> </p>
  <hr>
  <% if session[:cart_id] %>
    <h4><strong>Update Quantity: </strong></h4>
    <p>
    <div class="row"> 
     <div class="col-xs-12">
        <%= form_tag cart_item_path(params[:id].to_i), method: :put do %>
          <%= hidden_field_tag :total_price, @item["total_price"] %>
          <div>
              <%= label_tag :quantity, "Select Quantity: " %>
              <%= number_field_tag :quantity %>
              <%= submit_tag "Edit to cart" , class: "btn btn-xs btn-primary"%>
          </div>
        <% end %>
      </div>
      </div>
    </p>
    <hr>
  <% end %>
  <div class="item-actions">
    <%= link_to "cancel edit request", edit_cart_path(session[:cart_id]), class: "btn btn-xs btn-primary" %>
  </div>
</div>

