<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
     <%= link_to "GADA ELECTRONICS", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link p-3 #{current_page?(root_path) ? "active" : ""}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Products", items_path, class: "nav-link p-3 #{current_page?(items_path) ? "active" : ""}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Orders", orders_path, class: "nav-link p-3 #{current_page?(orders_path) ? "active" : ""}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Cart", session[:cart_id]? cart_path(session[:cart_id]) : '#', class: "nav-link p-3 #{session[:cart_id] ? (current_page?(cart_path(session[:cart_id])) ? "active" : "") : "disabled"}" %>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <% if(current_user) %>
          <%# <span> Hello <%= current_user.username </span>  %>
          <%# <li> <%= link_to "View Profile", "/users/#{current_user.id}" </li> %>
          <li class="nav-item"> <%= link_to "Log out", "/logout", class: "nav-link p-3" %> </li>
        <% else %>
          <li class="nav-item"> <%= link_to "Login", "/login", class: "nav-link p-3" %> </li>
          <li class="nav-item">  <%= link_to "Register", "/signup", class: "nav-link p-3" %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
